/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    margin-bottom: 125px;
}

/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}

/* Navigation Menu Styling */
nav {
    display: flex;
    justify-content: center;
    background: #444;
    float: left;
}

nav a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    overflow: hidden;
}

nav a:hover {
    background-color: #555;
}

/* Disclaimer Styling */
.disclaimer {
    background-color: #ffffe0;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

/* Main Content Styling */
.content {
    padding: 20px;
    min-height: 400px; /* Adjust as needed */
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    position: sticky;
    top: 0;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .carousel {
    position: relative;
  }

  .carousel-images img {
      display: none; /* Hide images initially */
      margin: auto; /* Center images */
  }

  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: lightgray;
      border: none;
      padding: 10px;
  }

  .prev {
      left: 0;
  }

  .next {
      right: 0;
  }
  .image-counter {
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -25px;
    padding: 5px;
    width: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
  .enlarged {
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5); /* Scales up the image */
    max-width: none; /* Removes max-width restriction when enlarged */
    max-height: 90vh; /* Limits the height to the view height */
}
  .clickable-image {
    width: 100%;
    max-width: 1200px; 
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease; 
  }

/* Add styles for html table that can scroll horizontally and vertically, and styles for the header row, column and cell to look better with the theme */
table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: white;
    top: 0;
    position: sticky;
}

td {
    border-bottom: 1px solid #ddd;
}

td:hover {
    background-color: #f5f5f5;
}

p {
  margin: 20px;
}